<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Member | Cozypool Kasir</title>
    <link rel="stylesheet" href="../public/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/assets/css/style.css">
    <link rel="stylesheet" href="../public/assets/css/boxicons.min.css">
</head>

<body id="body-pd" class="body-pd">
    <header class="header body-pd" id="header">
        <div class="header-phone">
            <img src="../public/assets/img/logo.png" alt="">
        </div>
        <div class="header_img" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <img src="../public/assets/img/user.png" alt="">
            <p class="header-name">Aye Shabira</p>
        </div>
    </header>
    <div class="l-navbar show-sidebar" id="nav-bar">
        <nav class="nav">
            <div>
                <a href="#" class="nav_logo">
                    <span class="nav_logo-name"><img src="../public/assets/img/logo.png" alt=""></span>
                </a>
                <div class="nav_list">
                    <a href="home.html" class="nav_link " title="Home">
                        <i class='bx bx-home-alt nav_icon'></i>
                        <span class="nav_name">Home</span>
                    </a>
                    <a href="waiting_list.html" class="nav_link" title="Waiting List">
                        <i class='bx bx-list-plus nav_icon'></i>
                        <span class="nav_name">Waiting List</span>
                    </a>
                    <a href="add_member.html" class="nav_link active" title="Add Member">
                        <i class='bx bx-user-plus nav_icon'></i>
                        <span class="nav_name">Add Member</span>
                    </a>

                    <a href="menu.html" class="nav_link" title="Menu Makanan">
                        <i class='bx bx-bowl-rice nav_icon'></i>
                        <span class="nav_name">Menu Makanan</span>
                    </a>
<a href="menu_cafe.html" class="nav_link" title="Menu Cafe">
                        <i class='bx bx-baguette nav_icon'></i>
                        <span class="nav_name">Menu Cafe</span>
                    </a>
<a href="manual.html" class="nav_link" title="Manual">
                        <i class='bx bx-desktop nav_icon'></i>
                        <span class="nav_name">Manual Lampu</span>
                    </a>

                    <a href="pengaturan.html" class="nav_link" title="Pengaturan">
                        <i class='bx bx-cog nav_icon'></i>
                        <span class="nav_name">Pengaturan</span>
                    </a>
                </div>
            </div>
            <a href="javascript:void(0)" class="nav_link" title="Logout" id="logout-side">
                <i class='bx bx-log-out nav_icon'></i>
                <span class="nav_name">Logout</span>
            </a>
        </nav>
    </div>

    <!-- <nav class="navbar fixed-bottom bg-dark navbar-mobile">
        <div class="container-fluid">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="nav-item text-center">
                    <a href="home.html" class="nav-bottom-link active-2" title="Home">
                        <i class='bx bx-home-alt nav_icon'></i>
                        <p class="nav_name_bottom">Home</p>
                    </a>
                </li>
                <li class="nav-item text-center">
                    <a href="keuangan.html" class="nav-bottom-link" title="Keuangan">
                        <i class='bx bx-archive nav_icon'></i>
                        <p class="nav_name_bottom">Keuangan</p>
                    </a>
                </li>
                <li class="nav-item text-center">
                    <a href="report.html" class="nav-bottom-link" title="Report">
                        <i class='bx bx-chart nav_icon'></i>
                        <p class="nav_name_bottom">Report</p>
                    </a>
                </li>
                <li class="nav-item text-center" style="padding-right: 54px !important;">
                    <a href="settings.html" class="nav-bottom-link" title="Settings">
                        <i class='bx bx-brightness nav_icon'></i>
                        <p class="nav_name_bottom">Settings</p>
                    </a>
                </li>
            </ul>
        </div>
    </nav> -->

    <!--Container Main start-->
    <div class="box-bg">
        <div class="overview-pemb mb-5">
            <div class="d-flex mb-2">
                <div class="p-1">
                    <a href="home.html" class=""><img src="../public/assets/img/icon/back.png" alt=""></a>
                </div>
                <div class="p-1">
                    <div class="title-header-box">
                        <h3>Buat membership</h3>
                    </div>
                </div>
            </div>

            <div class="bg-dark box-dark">
                <h5 class="text-center">Add Member</h5>

                <div class="box-booking mt-3">
                    <div class="booking-content">
                        <div class="row">
                            <div class="col-lg mb-2">
                                <h5>Identitas</h5>
                                <div class="form-group">
                                    <label for="usr">Nama lengkap</label>
                                    <input type="text" class="form-control custom-input" id="nama_lengkap_member"
                                        class="usr">
                                </div>
                                <div class="form-group">
                                    <label for="usr">Nomor telepon</label>
                                    <input type="number" class="form-control custom-input" id="no_telp_member"
                                        class="usr">
                                </div>
                                <div class="form-group">
                                    <label for="usr">Email</label>
                                    <input type="email" class="form-control custom-input" id="email_member" class="usr">
                                </div>
                                <div class="form-group">
                                    <label for="usr">Alamat Lengkap</label>
                                    <input type="text" class="form-control custom-input" id="alamat_member" class="usr">
                                </div>
                                <div class="form-group">
                                    <label for="usr">No. KTP</label>
                                    <input type="number" class="form-control custom-input" id="no_ktp_member"
                                        class="usr">
                                </div>
                            </div>
                            <div class="col-lg">
                                <div class="box-dark-really">
                                    <h5>Jenis member</h5>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="radio-box-custom mb-2">
                                                <div class="d-flex">
                                                    <div class="p-1">
                                                        <input type="radio" class="radio-custom" id="jenis_premium"
                                                            name="jenis_member" value="Premium">
                                                    </div>
                                                    <div class="p-1">
                                                        <label for="jenis_premium">Premium</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="radio-box-custom mb-2">
                                                <div class="d-flex">
                                                    <div class="p-1">
                                                        <input type="radio" class="radio-custom" id="jenis_gold"
                                                            name="jenis_member" value="Gold">
                                                    </div>
                                                    <div class="p-1">
                                                        <label for="jenis_gold">Gold</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="radio-box-custom mb-2">
                                                <div class="d-flex">
                                                    <div class="p-1">
                                                        <input type="radio" class="radio-custom" id="jenis_platinum"
                                                            name="jenis_member" value="Platinum">
                                                    </div>
                                                    <div class="p-1">
                                                        <label for="jenis_platinum">Platinum</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-3">
                                        <h5>Total harga</h5>
                                        <div class="box-total-member">
                                            <div class="d-flex">
                                                <div class="p-1">
                                                    <img src="../public/assets/img/icon/rp.png" alt="">
                                                </div>
                                                <div class="p-1">
                                                    <p><span id="harga_member">0</span> Per bulan</p>

                                                </div>
                                            </div>
                                            <input type="hidden" id="tipe_member">
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="text-end mt-3">
                    <button class="btn btn-primary btn-primary-cozy" type="button" id="buat_member">Buat
                        Sekarang</button>

                </div>
            </div>

        </div>

    </div>
    <!--Container Main end-->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Profile</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="list-group">
                        
                        <a href="#" class="list-group-item list-group-item-action">Logout</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

</body>
<script>
    if (typeof module === 'object') {
        window.module = module;
        module = undefined;
    }
</script>
<script src="../public/assets/js/jquery-3.6.0.min.js"></script>
<script src="../public/assets/js/popper.min.js"></script>
<script src="../public/assets/js/bootstrap.min.js"></script>
<script src="../public/assets/js/scripts.js"></script>
<script>
    if (window.module) module = window.module;
</script>
<script src="../renderer.js"></script>


</html>