<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Booking | Cozypool Kasir</title>
    <link rel="stylesheet" href="../public/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/assets/css/style.css">
    <link rel="stylesheet" href="../public/assets/css/boxicons.min.css">
</head>

<body id="body-pd" class="body-pd">
    <header class="header body-pd" id="header">
        <div class="header-phone">
            <img src="../public/assets/img/logo.png" alt="">
        </div>
        <div class="header_img" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <img src="../public/assets/img/user.png" alt="">
            <p class="header-name">Aye Shabira</p>
        </div>
    </header>
    <div class="l-navbar show-sidebar" id="nav-bar">
        <nav class="nav">
            <div>
                <a href="#" class="nav_logo">
                    <span class="nav_logo-name"><img src="../public/assets/img/logo.png" alt=""></span>
                </a>
                <div class="nav_list">
                    <a href="home.html" class="nav_link " title="Home">
                        <i class='bx bx-home-alt nav_icon'></i>
                        <span class="nav_name">Home</span>
                    </a>
                    <a href="add_member.html" class="nav_link" title="Add Member">
                        <i class='bx bx-user-plus nav_icon'></i>
                        <span class="nav_name">Add Member</span>
                    </a>
                    <a href="booking.html" class="nav_link active" title="Booking">
                        <i class='bx bx-book nav_icon'></i>
                        <span class="nav_name">Booking</span>
                    </a>
                    <a href="menu.html" class="nav_link" title="Menu Makanan">
                        <i class='bx bx-bowl-rice nav_icon'></i>
                        <span class="nav_name">Menu Makanan</span>
                    </a>
<a href="menu_cafe.html" class="nav_link" title="Menu Cafe">
                        <i class='bx bx-baguette nav_icon'></i>
                        <span class="nav_name">Menu Cafe</span>
                    </a>
<a href="manual.html" class="nav_link" title="Manual">
                        <i class='bx bx-desktop nav_icon'></i>
                        <span class="nav_name">Manual Lampu</span>
                    </a>
                </div>
            </div>
            <a href="javascript:void(0)" class="nav_link" title="Logout" id="logout-side">
                <i class='bx bx-log-out nav_icon'></i>
                <span class="nav_name">Logout</span>
            </a>
        </nav>
    </div>

    <!-- <nav class="navbar fixed-bottom bg-dark navbar-mobile">
        <div class="container-fluid">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="nav-item text-center">
                    <a href="home.html" class="nav-bottom-link active-2" title="Home">
                        <i class='bx bx-home-alt nav_icon'></i>
                        <p class="nav_name_bottom">Home</p>
                    </a>
                </li>
                <li class="nav-item text-center">
                    <a href="keuangan.html" class="nav-bottom-link" title="Keuangan">
                        <i class='bx bx-archive nav_icon'></i>
                        <p class="nav_name_bottom">Keuangan</p>
                    </a>
                </li>
                <li class="nav-item text-center">
                    <a href="report.html" class="nav-bottom-link" title="Report">
                        <i class='bx bx-chart nav_icon'></i>
                        <p class="nav_name_bottom">Report</p>
                    </a>
                </li>
                <li class="nav-item text-center" style="padding-right: 54px !important;">
                    <a href="settings.html" class="nav-bottom-link" title="Settings">
                        <i class='bx bx-brightness nav_icon'></i>
                        <p class="nav_name_bottom">Settings</p>
                    </a>
                </li>
            </ul>
        </div>
    </nav> -->

    <!--Container Main start-->
    <div class="box-bg">
        <div class="overview-pemb mb-5">
            <div class="d-flex mb-2">
                <div class="p-1">
                    <a href="home.html" class=""><img src="../public/assets/img/icon/back.png" alt=""></a>
                </div>
                <div class="p-1">
                    <div class="title-header-box">
                        <h3>Booking Form</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg mb-2">
                    <div class="bg-dark box-dark">
                        <h5 class="text-center">Ringkasan reservasi</h5>
                        <div class="box-booking mt-3">
                            <div class="booking-content">
                                <div class="row">
                                    <div class="col-md">
                                        <h5>Masukan informasi detail pemesan</h5>
                                        <div class="form-group-2 mt-4">
                                            <select name="" class="form-control custom-input" id="">
                                                <option value="">Pilih Tipe Member</option>
                                                <option value="Member">Member</option>
                                                <option value="Non Member">Non Member</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="usr">Nama lengkap</label>
                                            <input type="text" class="form-control custom-input" class="usr">
                                        </div>
                                        <div class="form-group">
                                            <label for="usr">Nomor telepon</label>
                                            <input type="number" class="form-control custom-input" class="usr">
                                        </div>
                                        <div class="form-group">
                                            <label for="usr">Alamat Lengkap</label>
                                            <input type="text" class="form-control custom-input" class="usr">
                                        </div>
                                        <div class="form-group">
                                            <label for="usr">No. KTP</label>
                                            <input type="number" class="form-control custom-input" class="usr">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="col-lg">
                    <div class="bg-dark box-dark">
                        <div class="box-booking mt-3">
                            <div class="booking-content">
                                <h5>Detail Pesanan</h5>
                                <label for="" class="label-white mb-2" style="margin-top: 20px;">Table terpilih</label>
                                <div class="form-group-2 ">
                                    <select name="" class="form-control custom-input" id="">
                                        <option value="">Pilih Table</option>
                                        <option value="Table 01">Table 01</option>
                                        <option value="Table 02">Table 02</option>
                                    </select>
                                </div>
                                <label for="" class="label-white mb-2 mt-3"> Durasi penyewaan
                                </label>
                                <div class="row mt-1">
                                    <div class="col-sm">
                                        <label for="" class="label-white-regular mb-1">Dimulai dari</label>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="inputGroup-sizing-default"><img
                                                    src="../public/assets/img/icon/clock2.png" width="20" alt=""></span>
                                            <input type="time" class="form-control group-input-custom"
                                                aria-label="Sizing example input"
                                                aria-describedby="inputGroup-sizing-default">
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <label for="" class="label-white-regular mb-1">Sampai dengan</label>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="inputGroup-sizing-default"><img
                                                    src="../public/assets/img/icon/clock2.png" width="20" alt=""></span>
                                            <input type="time" class="form-control group-input-custom"
                                                aria-label="Sizing example input"
                                                aria-describedby="inputGroup-sizing-default">
                                        </div>
                                    </div>
                                </div>
                                <label for="" class="label-white mb-2">Total harga</label>
                                <div class="detail-table">
                                    <p><img src="../public/assets/img/icon/rp.png" alt=""> 20.000</p>
                                </div>
                            </div>

                        </div>
                        <div class="text-end mt-3">
                            <button class="btn btn-primary btn-primary-cozy">Booking Sekarang</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--Container Main end-->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Profile</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="list-group">
                        
                        <a href="#" class="list-group-item list-group-item-action">Logout</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="booking" tabindex="-1" aria-labelledby="bookingLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="bookingLabel">Booking Form</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="box-booking">
                        <div class="booking-content">
                            <h5>Booking Details</h5>
                            <div class="form-group-2 mt-4">
                                <select name="" class="form-control custom-input" id="">
                                    <option value="">Pilih Tipe Member</option>
                                    <option value="Member">Member</option>
                                    <option value="Non Member">Non Member</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="usr">Nama lengkap</label>
                                <input type="text" class="form-control custom-input" class="usr">
                            </div>
                            <div class="form-group">
                                <label for="usr">Nomor telepon</label>
                                <input type="number" class="form-control custom-input" class="usr">
                            </div>
                            <div class="form-group">
                                <label for="usr">Alamat Lengkap</label>
                                <input type="text" class="form-control custom-input" class="usr">
                            </div>
                        </div>
                    </div>
                    <div class="box-booking mt-3">
                        <div class="booking-content">
                            <h5>Detail Pesanan</h5>
                            <label for="" class="label-white mb-2" style="margin-top: 35px;">Table terpilih</label>
                            <div class="detail-table">
                                <p><img src="../public/assets/img/icon/archive.png" alt=""> Table 01</p>
                            </div>
                            <label for="" class="label-white mb-2 mt-3"> Durasi penyewaan
                            </label>
                            <div class="row mt-1">
                                <div class="col-sm">
                                    <label for="" class="label-white-regular mb-1">Dimulai dari</label>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="inputGroup-sizing-default"><img
                                                src="../public/assets/img/icon/clock2.png" width="20" alt=""></span>
                                        <input type="time" class="form-control group-input-custom"
                                            aria-label="Sizing example input"
                                            aria-describedby="inputGroup-sizing-default">
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <label for="" class="label-white-regular mb-1">Sampai dengan</label>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="inputGroup-sizing-default"><img
                                                src="../public/assets/img/icon/clock2.png" width="20" alt=""></span>
                                        <input type="time" class="form-control group-input-custom"
                                            aria-label="Sizing example input"
                                            aria-describedby="inputGroup-sizing-default">
                                    </div>
                                </div>
                            </div>
                            <label for="" class="label-white mb-2">Total harga</label>
                            <div class="detail-table">
                                <p><img src="../public/assets/img/icon/rp.png" alt=""> 20.000</p>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-primary-cozy-dark"
                        data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-primary btn-primary-cozy">Booking Sekarang</button>
                </div>

            </div>
        </div>
    </div>
</body>

<script src="../public/assets/js/jquery-3.6.0.min.js"></script>
<script src="../public/assets/js/popper.min.js"></script>
<script src="../public/assets/js/bootstrap.min.js"></script>
<script src="../public/assets/js/scripts.js"></script>

</html>