<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cetak Struk | Cozypool Kasir</title>
    <link rel="stylesheet" href="../public/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/assets/css/style.css">
    <link rel="stylesheet" href="../public/assets/css/boxicons.min.css">
</head>

<body id="body-pd" class="body-pd">
    <div class="overlay2" id="overlay">
        <div class="overlay__inner2">
            <div class="overlay__content2 text-center"><img src="../public/assets/img/logo-login.png" alt=""></span>
                <h3>Load checkout...</h3>
            </div>

        </div>
    </div>
    <header class="header body-pd" id="header">
        <div class="header-phone">
            <img src="../public/assets/img/logo.png" alt="">
        </div>
        <div class="header_img" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <img src="../public/assets/img/user.png" alt="">
            <p class="header-name">Aye Shabira</p>
        </div>
    </header>
    <div class="l-navbar show-sidebar" id="nav-bar">
        <nav class="nav">
            <div>
                <a href="#" class="nav_logo">
                    <span class="nav_logo-name"><img src="../public/assets/img/logo.png" alt=""></span>
                </a>
                <div class="nav_list">
                    <a href="home.html" class="nav_link " title="Home">
                        <i class='bx bx-home-alt nav_icon'></i>
                        <span class="nav_name">Home</span>
                    </a>
                    <a href="cetak_struk.html" class="nav_link active" title="Cetak Struk">
                        <i class='bx bx-printer nav_icon'></i>
                        <span class="nav_name">Cetak Struk</span>
                    </a>
                    <a href="add_member.html" class="nav_link " title="Add Member">
                        <i class='bx bx-user-plus nav_icon'></i>
                        <span class="nav_name">Add Member</span>
                    </a>

                    <a href="menu.html" class="nav_link" title="Menu Makanan">
                        <i class='bx bx-bowl-rice nav_icon'></i>
                        <span class="nav_name">Menu Makanan</span>
                    </a>
<a href="menu_cafe.html" class="nav_link" title="Menu Cafe">
                        <i class='bx bx-baguette nav_icon'></i>
                        <span class="nav_name">Menu Cafe</span>
                    </a>
<a href="manual.html" class="nav_link" title="Manual">
                        <i class='bx bx-desktop nav_icon'></i>
                        <span class="nav_name">Manual Lampu</span>
                    </a>

                    <a href="pengaturan.html" class="nav_link" title="Pengaturan">
                        <i class='bx bx-cog nav_icon'></i>
                        <span class="nav_name">Pengaturan</span>
                    </a>
                </div>
            </div>
            <a href="javascript:void(0)" class="nav_link" title="Logout" id="logout-side">
                <i class='bx bx-log-out nav_icon'></i>
                <span class="nav_name">Logout</span>
            </a>
        </nav>
    </div>

    <!-- <nav class="navbar fixed-bottom bg-dark navbar-mobile">
        <div class="container-fluid">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="nav-item text-center">
                    <a href="home.html" class="nav-bottom-link active-2" title="Home">
                        <i class='bx bx-home-alt nav_icon'></i>
                        <p class="nav_name_bottom">Home</p>
                    </a>
                </li>
                <li class="nav-item text-center">
                    <a href="keuangan.html" class="nav-bottom-link" title="Keuangan">
                        <i class='bx bx-archive nav_icon'></i>
                        <p class="nav_name_bottom">Keuangan</p>
                    </a>
                </li>
                <li class="nav-item text-center">
                    <a href="report.html" class="nav-bottom-link" title="Report">
                        <i class='bx bx-chart nav_icon'></i>
                        <p class="nav_name_bottom">Report</p>
                    </a>
                </li>
                <li class="nav-item text-center" style="padding-right: 54px !important;">
                    <a href="settings.html" class="nav-bottom-link" title="Settings">
                        <i class='bx bx-brightness nav_icon'></i>
                        <p class="nav_name_bottom">Settings</p>
                    </a>
                </li>
            </ul>
        </div>
    </nav> -->

    <!--Container Main start-->
    <div class="box-bg">
        <div class="overview-pemb mb-5">
            <div class="d-flex mb-2">
                <div class="p-1">
                    <a href="home.html" class=""><img src="../public/assets/img/icon/back.png" alt=""></a>
                </div>
                <div class="p-1">
                    <div class="title-header-box">
                        <h3>Cetak Struk</h3>
                    </div>
                </div>
            </div>

            <div class="bg-dark box-dark">
                <h5 class="text-center">Cetak Struk</h5>

                <div class="box-booking mt-3">
                    <div class="booking-content">
                        <div class="row">
                            <div class="col-lg mb-2">
                                <h5>List Booking</h5>
                                <div class="list-container-total" id="list_all_struk">


                                </div>
                                <h5 class="mt-4">List Pesanan Menu</h5>
                                <div class="list-container-total mb-4" id="list_all_struk_pesanan">


                                </div>
                                <div class="hr-white"></div>

                                <div class="total-all">
                                    <h6>Total Harga: </h6>
                                    <h4>Rp. <span id="harga_total"></span></h4>
                                </div>
                                <div class="hr-white"></div>
                                <div class="form-group mb-4">
                                    <label for="usr">Nama Customer</label>
                                    <input type="text" class="form-control custom-input" id="nama_customer" class="usr">
                                </div>
                                <div class="box-kembalian mb-3">
                                    <label for="">Uang Cash</label>
                                    <div class="input-group mt-2">
                                        <span class="input-group-text" id="inputGroup-sizing-default">Rp.</span>
                                        <input type="text" class="form-control group-input-custom"
                                            aria-label="Sizing example input"
                                            aria-describedby="inputGroup-sizing-default" id="kembalian_struk">
                                    </div>
                                </div>
                                <div class="total-all">
                                    <h6>Kembalian: </h6>
                                    <h4>Rp. <span id="kembalian_struk_text"></span></h4>
                                </div>
                                <input type="hidden" id="id_struk">
                            </div>

                        </div>
                    </div>

                </div>
                <div class="text-end mt-3">
                    <button class="btn btn-primary btn-primary-cozy" type="button" id="cetak_struk">Cetak Struk</button>

                </div>
            </div>

        </div>

    </div>
    <!--Container Main end-->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Profile</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="list-group">
                        <a href="updateProfile.html" class="list-group-item list-group-item-action">Edit Profit</a>
                        <a href="javascript:void(0)" class="list-group-item list-group-item-action" id="logout">Logout</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

</body>
<script>
    if (typeof module === 'object') {
        window.module = module;
        module = undefined;
    }
</script>
<script src="../public/assets/js/jquery-3.6.0.min.js"></script>
<script src="../public/assets/js/popper.min.js"></script>
<script src="../public/assets/js/bootstrap.min.js"></script>
<script src="../public/assets/js/scripts.js"></script>
<script>
    if (window.module) module = window.module;
</script>
<script src="../renderer.js"></script>
<script>
    $('#overlay').css('display', 'block')
    var total_bill = 0;
    var total_harga_booking_active = $('#total_harga_booking_active').val()
    var id_struk = '';
    var arr_bill = [];
    var arr_men = [];
    ipcRenderer.invoke("executeQuery",
        "SELECT * FROM struk LEFT OUTER JOIN booking ON struk.id_booking = booking.id_booking WHERE struk.id_booking = ?",
        'all', ['active']
    ).then((result) => {
        $('#overlay').css('display', 'none')

        if (result.length == 0 | result[0][20] == null) {

        } else {
            console.log(result)
            result.forEach((row) => {
                total_bill += parseInt(row[17])
                arr_bill.push([row[16], row[17], total_bill])
            })
            console.log(total_bill)
            $('#harga_total').text(formatRupiah(total_bill + total_menu))
        }
    })

    $('#list_all_struk_pesanan').empty()
    ipcRenderer.invoke("executeQuery",
        "SELECT * FROM struk LEFT OUTER JOIN pesanan ON struk.id_pesanan = pesanan.id_pesanan LEFT OUTER JOIN cart ON pesanan.id_pesanan = cart.id_pesanan LEFT OUTER JOIN menu ON cart.id_menu = menu.id_menu WHERE struk.status_struk = ?",
        'all', ['active']
    ).then((result) => {
        console.log(result)
        if (result.length == 0 | result[0][17] == null) {

        } else {
            result.forEach((row) => {
                total_menu += parseInt(row[24])
                const data = `<div class="list-total">
                                        <p>` + row[31] + ` x ` + row[23] + ` : Rp. ` + formatRupiah(row[24]) + `</p>
                                    </div>`;
                $('#list_all_struk_pesanan').append(data)
                $('#id_struk').val(row[1])
                arr_men.push([row[23], row[31], row[32], row[24]])
            })
            console.log(total_menu)
            $('#harga_total').text(formatRupiah(total_bill + total_menu))

        }
    })

    $('#kembalian_struk').keyup(() => {
        $('#kembalian_struk').val(formatRupiah($('#kembalian_struk').val()))

        const total_all = $('#harga_total').text()
        const total_s = total_all.split('.').join('')
        const kembalian_struk = $('#kembalian_struk').val()
        const uang_cash = kembalian_struk.split('.').join("")
        const total = uang_cash - total_s;
        console.log(total)

        if (negative(total)) {
            $('#kembalian_struk_text').text(0)
        } else {
            $('#kembalian_struk_text').text(formatRupiah(total))
        }
    })

    $("#cetak_struk").click(() => {
        const nama_customer = $('#nama_customer').val()
        const total_harga = $('#harga_total').text()
        const kembalian = $('#kembalian_struk_text').text()
        const uang_cash = $('#kembalian_struk').val()
        const struk_id = $('#id_struk').val()

        const harga = total_harga.split('.').join('')
        const kembalian_t = kembalian.split('.').join('')
        const uang = uang_cash.split('.').join('')

        try {
            ipcRenderer.invoke('executeQuery',
                "UPDATE struk SET nama_customer = ?, total_struk = ?, cash_struk = ?, kembalian_struk = ?, status_struk = ? WHERE status_struk = ?",
                1, [nama_customer, harga, uang, kembalian_t, 'terbayar', 'active']
            ).then((result) => {
                console.log(result)
                printBilling(struk_id, nama_customer, arr_bill, arr_men, total_harga, kembalian)
                    .then((
                        result) => {
                        Swal.fire({
                            title: "Berhasil",
                            text: "Struk berhasil dicetak",
                            icon: "success",
                            confirmButtonText: "Oke",
                        }).then((result) => {
                            if (result.isConfirmed) {
                                document.location.href = 'home.html';
                            }
                        });
                    })
            })

        } catch (error) {
            console.log(error)
        }
    })
</script>


</html>