<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | Kasir Cozypool</title>
    <link rel="stylesheet" href="../public/assets/css/style.css">
    <link rel="stylesheet" href="../public/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/assets/css/boxicons.min.css">
</head>

<body class="body-all">

    <div class="sidebar">
        <div class="img-sidebar">
            <img src="../public/assets/img/logo.png" alt="">
        </div>
        <a class="active" href="#home"><img class="img-icon-side" src="../public/assets/img/icon/home.png" alt=""> Dashboard</a>
        <a href="#news"><img class="img-icon-side" src="../public/assets/img/icon/user-plus.png" alt=""> Add Member</a>
        <a href="#contact"><img class="img-icon-side" src="../public/assets/img/icon/printer.png" alt=""> Cetak Struk/Bill</a>
        <a href="#about"><img class="img-icon-side" src="../public/assets/img/icon/book.png" alt=""> Booking</a>
        <a href="#about"><img class="img-icon-side" src="../public/assets/img/icon/Food.png" alt=""> Menu Makanan</a>

    </div>

    <div class="content">
        <div class="row pt-2">
            <div class="col-sm">
                <div class="d-flex">
                    <div class="p-2">
                        <a href="#" class="btn btn-primary btn-primary-cozy"><i class="bx bx-home"></i> Home</a>
                    </div>
                    <div class="p-2">
                        <a href="#" class="btn btn-primary btn-primary-cozy-dark"><i class="bx bx-clipboard"></i>
                            Report</a>
                    </div>
                    <div class="p-2">
                        <a href="#" class="btn btn-primary btn-primary-cozy-dark"><i class="bx bx-stats"></i>
                            Maintenance</a>
                    </div>
                    <div class="p-2">
                        <a href="#" class="btn btn-primary btn-primary-cozy-dark"><i class="bx bx-dollar"></i> Kas</a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="d-flex float-end">
                    <div class="p-2">
                        <a href="#" class="btn btn-primary btn-primary-cozy"><img src="../public/assets/img/icon/refresh-ccw.png"
                                alt=""></a>
                    </div>
                    <div class="p-2">
                        <a href="#" class="btn btn-primary btn-primary-cozy-dark"><img src="../public/assets/img/icon/bell.png"
                                alt=""></i>
                        </a>
                    </div>

                </div>
            </div>
        </div>
        <div class="box-table">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card card-custom-dark">
                        <img src="../public/assets/img/billiard.png" class="card-img-top" style="width: 178px !important;"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card card-custom-dark">
                        <img src="../public/assets/img/billiard.png" class="card-img-top" style="width: 178px !important;"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card card-custom-dark">
                        <img src="../public/assets/img/billiard.png" class="card-img-top" style="width: 178px !important;"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                                to additional content.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card card-custom-dark">
                        <img src="../public/assets/img/billiard.png" class="card-img-top" style="width: 178px !important;"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>

</html>