<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Cozypool Kasir</title>
    <link rel="stylesheet" href="../public/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/assets/css/style.css">
    <link rel="stylesheet" href="../public/assets/css/boxicons.min.css">
</head>

<body id="body-pd" class="body-pd">
    <div class="overlay">
        <div class="overlay__inner">
            <div class="overlay__content text-center"><img src="../public/assets/img/logo-login.png" alt=""></span>
                <h3>Tunggu sebentar, menyiapkan table...</h3>
            </div>

        </div>
    </div>

    <div class="overlay2">
        <div class="overlay__inner2">
            <div class="overlay__content2 text-center"><img src="../public/assets/img/logo-login.png" alt=""></span>
                <h3>Load table...</h3>
            </div>

        </div>
    </div>

    <div class="overlay3" id="sendData_owner_loading">
        <div class="overlay__inner2">
            <div class="overlay__content2 text-center"><img src="../public/assets/img/logo-login.png" alt=""></span>
                <h3>Upload to Owner Database (<span id="sendData_text_owner"></span>)</h3>
            </div>

        </div>
    </div>
    <header class="header body-pd" id="header">
        <div class="header-phone">
            <img src="../public/assets/img/logo.png" alt="">
        </div>
        <div class="header_img" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <img src="../public/assets/img/user.png" alt="">
            <p class="header-name">Aye Shabira</p>
        </div>
    </header>
    <div class="l-navbar show-sidebar" id="nav-bar">
        <nav class="nav">
            <div>
                <a href="#" class="nav_logo">
                    <span class="nav_logo-name"><img src="../public/assets/img/logo.png" alt=""></span>
                </a>
                <div class="nav_list">
                    <a href="home.html" class="nav_link active" title="Home">
                        <i class='bx bx-home-alt nav_icon'></i>
                        <span class="nav_name">Home</span>
                    </a>
                    <a href="waiting_list.html" class="nav_link" title="Waiting List">
                        <i class='bx bx-list-plus nav_icon'></i>
                        <span class="nav_name">Waiting List</span>
                    </a>
                    <a href="add_member.html" class="nav_link" title="Add Member">
                        <i class='bx bx-user-plus nav_icon'></i>
                        <span class="nav_name">Add Member</span>
                    </a>

                    <a href="menu.html" class="nav_link" title="Menu Makanan">
                        <i class='bx bx-bowl-rice nav_icon'></i>
                        <span class="nav_name">Menu Makanan</span>
                    </a>
                    <a href="menu_cafe.html" class="nav_link" title="Menu Cafe">
                        <i class='bx bx-baguette nav_icon'></i>
                        <span class="nav_name">Menu Cafe</span>
                    </a>
                    <a href="manual.html" class="nav_link" title="Manual">
                        <i class='bx bx-desktop nav_icon'></i>
                        <span class="nav_name">Manual Lampu</span>
                    </a>

                    <a href="pengaturan.html" class="nav_link" title="Pengaturan">
                        <i class='bx bx-cog nav_icon'></i>
                        <span class="nav_name">Pengaturan</span>
                    </a>
                </div>
            </div>
            <a href="javascript:void(0)" class="nav_link" title="Logout" id="logout-side">
                <i class='bx bx-log-out nav_icon'></i>
                <span class="nav_name">Logout</span>
            </a>
        </nav>
    </div>

    <!-- <nav class="navbar fixed-bottom bg-dark navbar-mobile">
        <div class="container-fluid">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="nav-item text-center">
                    <a href="home.html" class="nav-bottom-link active-2" title="Home">
                        <i class='bx bx-home-alt nav_icon'></i>
                        <p class="nav_name_bottom">Home</p>
                    </a>
                </li>
                <li class="nav-item text-center">
                    <a href="keuangan.html" class="nav-bottom-link" title="Keuangan">
                        <i class='bx bx-archive nav_icon'></i>
                        <p class="nav_name_bottom">Keuangan</p>
                    </a>
                </li>
                <li class="nav-item text-center">
                    <a href="report.html" class="nav-bottom-link" title="Report">
                        <i class='bx bx-chart nav_icon'></i>
                        <p class="nav_name_bottom">Report</p>
                    </a>
                </li>
                <li class="nav-item text-center" style="padding-right: 54px !important;">
                    <a href="settings.html" class="nav-bottom-link" title="Settings">
                        <i class='bx bx-brightness nav_icon'></i>
                        <p class="nav_name_bottom">Settings</p>
                    </a>
                </li>
            </ul>
        </div>
    </nav> -->

    <!--Container Main start-->
    <div class="box-bg">
        <div class="overview-pemb mb-5">
            <div class="row">
                <div class="col-sm">
                    <div class="d-flex mb-2">
                        <div class="p-1">
                            <a href="home.html"
                                class="btn btn-primary btn-primary-cozy btn-home-top border-r-13 pl-20 pr-20 pt-10 pb-10">Home</a>
                        </div>

                        <div class="p-1">
                            <a href="list_member.html"
                                class="btn btn-primary btn-primary-cozy-dark btn-home-top border-r-13 pl-20 pr-20 pt-10 pb-10">List
                                Member</a>
                        </div>

                        <div class="p-1">
                            <a href="list_transaksi.html"
                                class="btn btn-primary btn-primary-cozy-dark btn-home-top border-r-13 pl-20 pr-20 pt-10 pb-10">List
                                Transaksi</a>
                        </div>
                        <div class="p-1">
                            <a href="billing_terminal.html"
                                class="btn btn-primary btn-primary-cozy-dark btn-home-top border-r-13 pl-20 pr-20 pt-10 pb-10">Billing
                                Terminal</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="d-flex mb-2 float-end">
                        <div class="p-1">
                            <a href="javascript:void(0)"
                                class="btn btn-primary btn-primary-cozy border-r-13 pl-20 pr-20 pt-10 pb-10"
                                id="refresh_table"><img src="../public/assets/img/icon/refresh-ccw.png" alt=""></a>
                        </div>
                        <div class="p-1">
                            <a href="javascript:void(0)"
                                class="btn btn-primary btn-primary-cozy border-r-13 pl-20 pr-20 pt-10 pb-10"
                                id="updateOwner">Update Data Owner</a>
                        </div>
                        <div class="p-1">
                            <a href="javascript:void(0)"
                                class="btn btn-primary btn-primary-cozy-dark border-r-13 pl-20 pr-20 pt-10 pb-10"
                                id="continue_timer">Lanjutkan Timer</a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div id="error_handler">



                </div>
            </div>
            <div class="row row-cols-1 row-cols-sm-3 g-4" id="table_billiard">

            </div>
        </div>

    </div>
    <!--Container Main end-->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Profile</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="list-group">
                        <a href="updateProfile.html" class="list-group-item list-group-item-action">Edit Profit</a>
                        <a href="javascript:void(0)" class="list-group-item list-group-item-action"
                            id="logout">Logout</a>
                    </div>
                </div>

            </div>
        </div>
    </div>



    <div class="modal fade" id="booking" tabindex="-1" aria-labelledby="bookingLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="bookingLabel">Booking Form</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="box-booking">
                        <div class="booking-content">
                            <h5>Booking Details</h5>
                            <div class="form-group-2 mt-4">
                                <select name="" class="form-control custom-input" id="input_check_customer">
                                    <option value="">Pilih Mode</option>
                                    <option value="Regular">Regular</option>
                                    <option value="Loss">Loss</option>
                                </select>
                            </div>
                            <input type="hidden" id="id_member">
                            <div id="info_customer">

                            </div>
                        </div>
                    </div>
                    <div class="box-booking mt-3">
                        <div class="booking-content">
                            <h5>Detail Pesanan</h5>
                            <label for="" class="label-white mb-2" style="margin-top: 35px;">Table terpilih</label>
                            <div class="detail-table">
                                <p><img src="../public/assets/img/icon/archive.png" alt=""> <span id="table_ids"></span>
                                </p>
                            </div>
                            <label for="" class="label-white mb-2 mt-3"> Durasi penyewaan
                            </label><br>
                            <label for="" class="label-white-regular mb-1">Durasi (Per jam)</label>

                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default"><img
                                        src="../public/assets/img/icon/clock2.png" width="20" alt=""></span>
                                <input type="number" class="form-control group-input-custom"
                                    aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                                    id="durasi_booking">
                            </div>
                            <label for="" class="label-white mb-2">Total harga</label>
                            <div class="detail-table">
                                <p><img src="../public/assets/img/icon/rp.png" alt=""> <span
                                        id="harga_total_text"></span></p>
                                <p class="mt-3"><img src="../public/assets/img/icon/clock.png" width="25" alt=""> <span
                                        id="durasi_total_text"></span></p>
                            </div>

                            <div class="form-group-2 mt-4">
                                <select name="" class="form-control custom-input" id="input_setting_blink">
                                    <option value="">Pilih Setting Blink</option>
                                    <option value="Iya">Iya</option>
                                    <option value="Tidak">Tidak</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="box-booking mt-3">
                        <div class="booking-content">
                            <h5>Table Settings</h5>
                            <div class="d-flex">
                                <div class="p-1">
                                    <div class="mt-2">
                                        <div>
                                            <button id="reset_table2" class="btn btn-warning">Reset Table</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="p-1">
                                    <div class="mt-2">
                                        <div>
                                            <button id="turn_off_table2" class="btn btn-danger">Turn Off Table</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="p-1">
                                    <div class="mt-2">
                                        <div>
                                            <button id="loss_mode" class="btn btn-primary">Loss</button>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="hidden">
                        <input type="hidden" id="table_id_booking">
                        <input type="hidden" id="total_harga_booking">
                        <input type="hidden" id="harga_booking">
                        <input type="hidden" id="arr_hargas">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-primary-cozy-dark"
                        data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-primary btn-primary-cozy" id="booking_now">Booking Sekarang</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="bookingActive" tabindex="-1" aria-labelledby="bookingLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="bookingLabel">Penambahan Form</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="box-booking">
                        <div class="booking-content">
                            <h5>Setting Table</h5>
                            <div class="hr-white"></div>
                            <label for="" class="label-white mb-2" style="margin-top: 17px;">Table terpilih</label>
                            <div class="detail-table">
                                <p><img src="../public/assets/img/icon/archive.png" alt=""><span
                                        id="table_ids_active"></span>
                                </p>
                            </div>
                            <div class="d-flex">
                                <div class="p-1">
                                    <div class="mt-2">
                                        <div>
                                            <button id="reset_table" class="btn btn-warning">Reset Table
                                                Regular</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="p-1">
                                    <div class="mt-2">
                                        <div>
                                            <button id="reset_table_loss" class="btn btn-warning">Reset Table
                                                Loss</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="p-1">
                                    <div class="mt-2">
                                        <div>
                                            <button id="turn_off_table" class="btn btn-danger">Turn Off Table</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="p-1">
                                    <div class="mt-2">
                                        <div>
                                            <button id="turn_on_table_active" class="btn btn-primary">Turn On
                                                Table</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="p-1">
                                    <div class="mt-2">
                                        <div>
                                            <button id="print_struk_billing" class="btn btn-info">Print Struk
                                                Billing</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h5 class="mt-2">Pindah Table</h5>
                            <div class="hr-white"></div>
                            <div class="mt-2">
                                <label for="">Pilih Meja</label>
                                <select name="" class="form-control custom-input" id="pilih_meja"></select>
                            </div>
                            <div class="mt-2  text-end">
                                <div class="">
                                    <button id="pindah_meja_btn" class="btn btn-primary btn-primary-cozy">Pindah
                                        Meja</button>
                                </div>
                            </div>
                            <div id="info_customer">

                            </div>
                        </div>
                    </div>
                    <div class="box-booking mt-3">
                        <div class="booking-content">
                            <h5>Tambah Durasi Table</h5>
                            <label for="" class="label-white mb-2 mt-3">Tambah Durasi penyewaan
                            </label><br>
                            <label for="" class="label-white-regular mb-1">Durasi (Per jam)</label>
                            <div id="peringatan">

                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default"><img
                                        src="../public/assets/img/icon/clock2.png" width="20" alt=""></span>
                                <input type="number" class="form-control group-input-custom"
                                    aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                                    id="durasi_booking_active">
                            </div>
                            <label for="" class="label-white mb-2">Total harga</label>
                            <div class="detail-table">
                                <p><img src="../public/assets/img/icon/rp.png" alt=""> <span
                                        id="harga_total_text_active"></span></p>
                                <p class="mt-3"><img src="../public/assets/img/icon/clock.png" width="25" alt=""> <span
                                        id="durasi_total_text_active"></span></p>
                            </div>
                            <input type="hidden" id="harga_booking_active">
                            <div class="form-group-2 mt-4">
                                <select name="" class="form-control custom-input" id="input_setting_blink_active">
                                    <option value="">Pilih Setting Blink</option>
                                    <option value="Iya">Iya</option>
                                    <option value="Tidak">Tidak</option>
                                </select>
                            </div>
                            <div class="text-end mt-2">
                                <button class="btn btn-primary btn-primary-cozy" id="add_on_send">Tambah</button>
                            </div>
                        </div>
                    </div>
                    <div class="box-booking mt-3">
                        <div class="booking-content">
                            <h5>Detail Pesanan</h5>
                            <hr>
                            <p>Jam Mulai: <span id="jam_mulai_active"></span></p>
                            <ul class="list-group" id="detail_struk_table">
                                <li class="list-group-item"><small>Nama Pemesan</small> <br><span
                                        id="nama_pemesan_active"></span></li>
                                <li class="list-group-item"><small>List Billing</small> <br>
                                    <ul>
                                        <!-- <li>Billing Biliard 1 Jam @35.000 => Rp. 35.000</li>
                                        <li>Roti Bakar 2x @15.000 => Rp. 30.000</li> -->
                                        <div id="list_billing"></div>
                                        <div id="list_billing_detail"></div>
                                    </ul>
                                </li>

                                <li class="list-group-item">
                                    <small>List Menu</small> <br>
                                    <ul>
                                        <div id="list_pesanan_active"></div>
                                    </ul>

                                </li>
                            </ul>
                            <div class="total-all mt-3">
                                <h6>Total Harga: </h6>
                                <h4>Rp. <span id="total_struk_active">0</span></h4>
                            </div>
                            <div class="box-kembalian mb-3">
                                <label for="">Uang Cash</label>
                                <div class="input-group mt-2">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Rp.</span>
                                    <input type="text" class="form-control group-input-custom"
                                        aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                                        id="uang_cash_active">
                                </div>
                            </div>
                            <div class="total-all">
                                <h6>Kembalian: </h6>
                                <h4>Rp. <span id="kembalian_struk_text">0</span></h4>
                            </div>
                        </div>

                    </div>
                    <div class="hidden">
                        <input type="hidden" id="nama_pelanggan_active">
                        <input type="hidden" id="id_struk">
                        <input type="hidden" id="table_id_booking_active">
                        <input type="hidden" id="total_harga_booking_active">
                        <input type="hidden" id="booking_id_active">
                        <input type="hidden" id="harga_billing_peritem">
                        <input type="hidden" id="arr_hargas_active">
                        <input type="hidden" id="type_mode">


                        <!-- <input type="hidden" id="harga_booking"> -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-primary-cozy-dark"
                        data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-primary btn-primary-cozy" id="bayar_now">Bayar Sekarang</button>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="modal fade" id="editCart" tabindex="-1" aria-labelledby="bookingLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="bookingLabel">Edit Cart</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row row-cols-1 row-cols-md-3 g-4" id="menu-list">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-primary-cozy-dark"
                        data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div> -->

    <div class="modal fade" id="add_keranjang" tabindex="-1" aria-labelledby="add_keranjangLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="add_keranjangLabel">Edit Keranjang</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <input type="hidden" id="id_cart">
                <div class="modal-body">
                    <div id="nama_menu"></div>

                    <div class="form-group">
                        <label for="">Qty</label>
                        <input type="number" class="form-control custom-input" id="qty">
                    </div>
                    <div class="total-all mt-3">
                        <h6>Subtotal: </h6>
                        <h4>Rp. <span id="subtotal_cart"></span></h4>
                    </div>
                    <input type="hidden" id="id_menu_cart">
                    <input type="hidden" id="harga_menu_cart">
                    <input type="hidden" id="harga_total_cart">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-primary-cozy-dark"
                        data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-primary btn-primary-cozy" id="edit_keranjang">Edit</button>
                </div>
            </div>
        </div>
    </div>

</body>
<script>
    if (typeof module === 'object') {
        window.module = module;
        module = undefined;
    }
</script>
<script src="../public/assets/js/jquery-3.6.0.min.js"></script>
<script src="../public/assets/js/popper.min.js"></script>
<script src="../public/assets/js/bootstrap.min.js"></script>
<script src="../public/assets/js/scripts.js"></script>
<script>
    if (window.module) module = window.module;
</script>
<script src="../renderer.js"></script>
<script src="../sendData.js"></script>

<script>
    get_all_table();

    ipcRenderer.invoke("getPrinter").then((result) => {
        console.log(result)
    })
</script>

</html>