<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report Bulan | Cozypool Kasir</title>
    <link rel="stylesheet" href="../public/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/assets/css/style.css">
    <link rel="stylesheet" href="../public/assets/css/boxicons.min.css">
    <link rel="stylesheet" href="../public/assets/css/dataTables.bootstrap5.min.css">
</head>

<body id="body-pd" class="body-pd">
    <header class="header body-pd" id="header">
        <div class="header-phone">
            <img src="../public/assets/img/logo.png" alt="">
        </div>
        <div class="header_img" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <img src="../public/assets/img/user.png" alt="">
            <p class="header-name">Aye Shabira</p>
        </div>
    </header>
    <div class="l-navbar show-sidebar" id="nav-bar">
        <nav class="nav">
            <div>
                <a href="#" class="nav_logo">
                    <span class="nav_logo-name"><img src="../public/assets/img/logo.png" alt=""></span>
                </a>
                <div class="nav_list">
                    <a href="home.html" class="nav_link" title="Home">
                        <i class='bx bx-home-alt nav_icon'></i>
                        <span class="nav_name">Home</span>
                    </a>
                    <a href="keuangan.html" class="nav_link " title="Keuangan">
                        <i class='bx bx-archive nav_icon'></i>
                        <span class="nav_name">Keuangan</span>
                    </a>
                    <a href="report.html" class="nav_link active" title="Report">
                        <i class='bx bx-chart nav_icon'></i>
                        <span class="nav_name">Report</span>
                    </a>
                    <a href="settings.html" class="nav_link" title="Settings">
                        <i class='bx bx-brightness nav_icon'></i>
                        <span class="nav_name">Settings</span>
                    </a>
                </div>
            </div>
            <a href="javascript:void(0)" class="nav_link" title="Logout" id="logout-side">
                <i class='bx bx-log-out nav_icon'></i>
                <span class="nav_name">Logout</span>
            </a>
        </nav>
    </div>
    <nav class="navbar navbar-dark bg-dark navbar-expand d-md-none d-lg-none d-xl-none fixed-bottom">
        <ul class="navbar-nav nav-justified w-100">
            <li class="nav-item">
                <a href="home.html" class="nav-bottom-link" title="Home">
                    <i class='bx bx-home-alt nav_icon'></i>
                    <p class="nav_name_bottom">Home</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="keuangan.html" class="nav-bottom-link" title="Keuangan">
                    <i class='bx bx-archive nav_icon'></i>
                    <p class="nav_name_bottom">Keuangan</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="report.html" class="nav-bottom-link  active-2" title="Report">
                    <i class='bx bx-chart nav_icon'></i>
                    <p class="nav_name_bottom">Report</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="settings.html" class="nav-bottom-link" title="Settings">
                    <i class='bx bx-brightness nav_icon'></i>
                    <p class="nav_name_bottom">Settings</p>
                </a>
            </li>

        </ul>
    </nav>
    <!--Container Main start-->
    <div class="box-bg">
        <div class="keuangan-pemb">

            <div class="card card-custom-dark">
                <div class="card-body">
                    <div class="title-pemb">
                        <div class="d-flex">
                            <div class="p-1">
                                <img src="../public/assets/img/icon/info.png" alt="">
                            </div>
                            <div class="p-1">
                                <h4>Report</h4>
                            </div>
                        </div>
                    </div>
                    <div class="ms-5">
                        <div class="d-flex mb-3">
                            <div class="p-1">
                                <a href="report.html"
                                    class="btn btn-primary btn-primary-cozy-dark border-r-13 pl-20 pr-20 pt-10 pb-10">Harian</a>
                            </div>
                            <div class="p-1">
                                <a href="report-bulan.html"
                                    class="btn btn-primary btn-primary-cozy border-r-13 pl-20 pr-20 pt-10 pb-10">Bulanan</a>
                            </div>
                        </div>
                    </div>
                    <div class="hr-dark"></div>
                    <div class="input-filter ms-5 me-5 mt-4 pt-2">
                        <div class="form-group">
                            <label for="usr">Dari Bulan</label>
                            <input type="month" class="form-control custom-input" class="usr">
                        </div>
                        <div class="form-group">
                            <label for="usr">Sampai Bulan</label>
                            <input type="month" class="form-control custom-input" class="usr">
                        </div>
                    </div>
                    <div class="d-grid  ms-5 me-5">
                        <button class="btn btn-primary btn-primary-cozy d-block">Download Report</button>
                    </div>
                </div>
            </div>
        </div>



    </div>
    <!--Container Main end-->

</body>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Profile</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                        Ubah Profile
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">Tambah Owner Baru</a>
                    <a href="#" class="list-group-item list-group-item-action">Logout</a>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="keuanganFilter" tabindex="-1" aria-labelledby="keuanganFilterLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="keuanganFilterLabel">Filter</h5>
                <a href="javascript:void(0)">
                    <img src="../public/assets/img/icon/close-modal.png" data-bs-dismiss="modal" aria-label="Close"
                        alt="">
                </a>
            </div>
            <div class="modal-body">
                <div class="input-filter">
                    <div class="form-group">
                        <label for="usr">Dari Tanggal</label>
                        <input type="date" class="form-control custom-input" class="usr">
                    </div>
                    <div class="form-group">
                        <label for="usr">Sampai Tanggal</label>
                        <input type="date" class="form-control custom-input" class="usr">
                    </div>
                </div>
                <div class="d-grid">
                    <button class="btn btn-primary btn-primary-cozy d-block">Filter</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../public/assets/js/jquery-3.6.0.min.js"></script>
<script src="../public/assets/js/popper.min.js"></script>

<script src="../public/assets/js/bootstrap.min.js"></script>
<script src="../public/assets/js/jquery.dataTables.min.js"></script>
<script src="../public/assets/js/dataTables.bootstrap5.min.js"></script>
<script src="../public/assets/js/scripts.js"></script>
<script>
    $(document).ready(function () {
        $('#keuangan-table').DataTable();
    });
</script>

</html>